{
    "env": {
      "browser": false,
      "es6": true
    },
    "extends": [
      "eslint:recommended", 
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "airbnb"
    ],
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "plugins": [
      "react",
      "@typescript-eslint"
      // "simple-import-sort"
    ],
    "rules": {
      "import/extensions": "off",
      "semi": "warn",
      // "no-duplicate-imports": "error",
      // "simple-import-sort/sort": "error",
      "comma-dangle": "off",
      "no-use-before-define": "off",
      "react/jsx-props-no-spreading": "off",
      "@typescript-eslint/no-use-before-define": ["error"],
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
      "no-unused-vars": "error"
    },
    "overrides": [
      {
        "files": ["**/*.ts", "**/*.tsx"],
        "rules": {
          "react/prop-types": "off"
        }
      }
    ],
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      },
      "react": {
        "createClass": "createReactClass",
        "pragma": "React",
        "version": "detect",
        "flowVersion": "0.53"
      },
      "propWrapperFunctions": [
        "forbidExtraProps",
        {
          "property": "freeze",
          "object": "Object"
        },
        {
          "property": "myFavoriteWrapper"
        }
      ],
      "linkComponents": [
        "Hyperlink",
        {
          "name": "Link",
          "linkAttribute": "to"
        }
      ]
    }
  }
  